*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background: cornflowerblue;
}
.container{
    max-width: 80%;
    background: cornsilk;
    margin: auto;
    padding: 20px;
}
.container h3, h2, h4{
    text-align: center;
}
h4{
    animation: font 1s linear infinite;
}
@keyframes font{
    0%,100%{
        color: deepskyblue;
    }
    25%,75%{
        color: gold;
    }
    50%{
        color: lawngreen;
    }
}
input, textarea{
    display: block;
    font: 30px;
    width: 80%;
    margin: 10px auto;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: cyan;
    background: darkgray;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}